.containerCartItem{
	background: rgb(231, 223, 223);
	text-align: center;
	border-radius: 25px;
	overflow: hidden;
	margin: 2em ;
	height: 205px;
	width: 700px;

}


.product-image-cart {
	transition: all 0.3s ease-out;
	position: relative;
    top: 10%;
    left: 20px;
	overflow: hidden;
	height: 80%;
	float: left;
	width: 30%;
	display: inline-block;
    border-radius: 25px;

}

.item_name{	
    font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: #344055;
	margin: 1px;
    margin-top: 10px;
    margin-left: 20px;


	}
    

    .quantity {
        float: right;
        margin-right: 10px;

    }
    .delete-btn{

            transform: translateY(0px);
            transition: 0.3s linear;
            background:  rgb(240, 0, 0);
            border-radius: 8px;
            font-size: large;
          position: relative;
          /* overflow: hidden; */
            cursor: pointer;
            /* outline: none; */
            float:right;
            border: none;
            color: #eee;
            padding: 10;
            margin-right: 15px;
            margin-bottom: 100px;

        
    }
    