


.title h1 {
	font-family: 'Bebas Neue', cursive;
	/* display: inline-block; */
	font-size: 60px;
	color: #344055;
  text-align:center;
  margin: 0 auto;

	
}

.cart{
	line-height: 12px;
	margin-top: 1px;
	margin-right: 25px;
	position:absolute;
	top:0;
	right:0;
	width: 55px;
	position: fixed;


}
.cart:hover{
	transform: translateY(2px);
}
